*{
	margin:0px;
	padding:0px;
}
label{
	display:block;
}
.container{
	background-color:#E3F2FD;
    padding: 40px;
    border-radius: 20px; 
    width: 320px;
    margin:50px auto 0;
	
}
.button-group{
	margin-top:20px;
}
